<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="accountList" class="row">
    <div class="col-md-4">
        <div class="card">
            <h4 class="card-title">John</h4>
            <h4 class="card-subtitle">SUPER_ADMIN</h4>
            <p class="card-text">Username: john</p>
            <p class="card-text">Password: john</p>
        </div>

        <div class="card">
            <h4 class="card-title">Emma</h4>
            <h4 class="card-subtitle">EMPLOYEES_ADMIN</h4>
            <p class="card-text">Username: emma</p>
            <p class="card-text">Password: emma</p>
        </div>

        <div class="card">
            <h4 class="card-title">William</h4>
            <h4 class="card-subtitle">DEPARTMENT_CREATE, DEPARTMENT_PAG_VIEW, DEPARTMENTS_READ</h4>
            <p class="card-text">Username: william</p>
            <p class="card-text">Password: william</p>
        </div>

        <div class="card">
            <h4 class="card-title">Lucas</h4>
            <h4 class="card-subtitle">CUSTOMERS_READ, CUSTOMERS_PAG_VIEW</h4>
            <p class="card-text">Username: lucas</p>
            <p class="card-text">Password: lucas</p>
        </div>

        <div class="card">
            <h4 class="card-title">Tom</h4>
            <h4 class="card-subtitle">NO_ROLE</h4>
            <p class="card-text">Username: tom</p>
            <p class="card-text">Password: tom</p>
        </div>
    </div>
</div>
</body>
</html>